/* ✅ 헤더 스타일 (기본 설정) */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding-top:10px;
    width: 100%;
    max-width: 100%; /* ✅ 부모 요소 크기에 맞게 조정 */
    height: 40px; /* ✅ 기본 높이 설정 */
    margin: 0 auto;
}

/* ✅ 헤더 버튼 */
.header-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.0rem; /* ✅ 버튼 크기 조절 */
}

/* ✅ 헤더 로고 */
.header-logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'KoPubWorld-Batang-Light';
    flex: 1;
}

/* ✅ 폰트 적용 */
@font-face {
    font-family: 'KoPubWorld-Batang-Light';
    src: url('../assets/fonts/KoPubWorld Batang Light.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width: 480px) {
    .header {
        height: 45px; /* ✅ 더 작은 모바일에서 헤더 높이 줄이기 */
        padding: 2px; /* ✅ 패딩 조정 */
        padding-top:10px;
    }

    .header-logo {
        font-size: 1.5rem; /* ✅ 글자 크기 더 줄이기 */
    }

    .header-button {
        font-size: 1.8rem; /* ✅ 버튼 크기 더 줄이기 */
    }
}
